@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.global-navigation-footer {
  margin: auto;
  margin-top: 60px;
}

.items-contents {
  display: flex;
  gap: 1.6rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contents-informations {
  display: flex;
  flex-direction: column;
}

.contents-informations > h3 {
  font-family: system, -apple-system, BlinkMacSystemFont, SFNSText-Regular,
    San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande, sans-serif;
  font-size: 0.8rem;
}

.contents-informations > a {
  font-family: system, -apple-system, BlinkMacSystemFont, SFNSText-Regular,
    San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande, sans-serif;
  font-size: 11px;
  font-weight: 600;
  margin-bottom: 0.85rem;
  text-decoration: none;
  color: rgb(10, 68, 168);
}
.contents-informations > a:hover {
  text-decoration: underline;
}

/*------ Media Queries -----------*/
@media screen and (max-width: 1050px) {
  .container .hotels_Content .qrCode_Img,
  .container .hotels_Content p {
    display: none;
  }

  .container .hotels_Content .getAppBtn {
    display: block;
    margin-bottom: 1rem;
  }
}
